node_modules/
dist/
.env
*.log
coverage/
.DS_Store
pgdata/
certs/
*.pem
*.p12

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/pubspec.lock

# ML Service
ml-service/models/*.joblib
ml-service/src/__pycache__/
__pycache__/
*.pyc
